.catalog h1{
    color: green;
    background-color: tan;
    margin-top: 6rem;
}

.catalog h2{
    margin-top: 3rem;
    padding-bottom: 30px;
}

.catalog{
    background-color: rgb(218, 214, 214);
}



.banner img{
    background-size: 500px;
    width: 2000px;
    height: 300px;
    border: 2px solid black;
}

.product{
    background-color: rgb(178, 184, 182);
}