.catalog h1{
    color: green;
    background-color: tan;
    margin-top: 6rem;
}

.catalog h2{
    margin-top: 3rem;
    padding-bottom: 30px;
}

.catalog{
    background-color: rgb(218, 214, 214);
}