@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');






.catalog h1{
    color: green;
    background-color: tan;
    margin-top: 6rem;
}

.catalog h2{
    margin-top: 3rem;
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
}

.catalog{
    background-color: rgb(218, 214, 214);
}



.banner img{
    background-size: 500px;
    width: 2000px;
    height: 300px;
    border: 2px solid black;
}

.product{
    background-color: rgb(248, 250, 249);
    width: 20%;
    height: 400px;
}

.product h2{
    padding-bottom: 5px;
    margin-top: 2px;
}