.product{
    border: 2px solid black;
    display:inline-block;
    margin: 5px;
    padding: 5px;
    color: darkgreen;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(3, 63, 11);
}

.product .price, .product .total{
    display: block;
}

.product img{
    width: 200px;
    height: 200px;
    
}



